* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
    z-index: 100;
}

.nav-logo{
    color: gold;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-logo:hover{
    color: gold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: gold;
}

.btn{
    padding: .75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: white;
    background-color: black;
    border-radius: 5rem;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover{
    background-color: gold;
    color: black;
}

.nav-menu-btn {
    display: none; /* Hidden by default on large screens */
    font-size: 24px;
    cursor: pointer;
    right: 20px;
    position: absolute;
    bottom: 0;
    padding-bottom: 13px;
}

/* Responsive Styles */
@media (max-width: 820px) {
    .nav-menu-btn {
        display: block; /* Show menu button on small screens */
    }

    .nav-links {
        display: none; /* Hide links by default on small screens */
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        text-align: center;
        padding: 10px 0;
    }

    .nav-links.open {
        display: flex; /* Show menu when toggled */
    }

    .nav-links li {
        padding: 10px 0;
    }

    .btn{
        display: none;
    }

}

  .intro-container {
    background: url(images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
  }

  /*.intro-img img {
    padding-top: 5rem;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }*/

  .intro-text {
    margin: 2.5rem 1rem;
    padding-top: 5rem;
    color: #fff;
    flex: 1;
    min-width: 300px;
  }

  .intro-text h1 {
    padding-bottom: .70rem;
    font-size: 2rem;
  }

  .text {
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: "Poppins", sans-serif;
  }

  /* Responsive Design */
  @media (max-width: 1000px) {
    .intro-container {
      flex-direction: column; /* Stack items vertically */
      text-align: center;
    }

    .intro-img img {
        padding-top: 3.8rem;
  }
}

.text-2 {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: "Poppins", sans-serif;
  }

.btn-2{
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: .75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: black;
    background-color: gold;
    border-radius: 5rem;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.btn-2:hover{
    background-color: black;
    color: white;
}

#about{
    text-align: center;
    margin: 2rem 0;
}

h1{
    font-size: 2rem;
}

#abi-about{
    padding-bottom: 1rem;
}

 #about span{
    color: gold;
}

.services {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 50px 20px;
    background-color: gold;
    text-align: center;
}

.services h2 {
    font-size: 2rem;
    color: black;
    margin-bottom: 30px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* responsive grid */
    gap: 20px;
    justify-items: center;
}

/* Service card styling */
.service-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    max-width: 300px;
}


.service-card i {
    font-size: 2em;
    color: black;
    margin-bottom: 20px;
}

.service-card h3 {
    font-size: 1.8em;
    color: black;
    margin-bottom: 15px;
}

.service-card p {
    font-size: 1.1em;
    color: black;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

/* Hover effect for the card */
.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .services h2 {
        font-size: 2em;
    }
    .service-card {
        padding: 20px;
    }
}

/* Footer Styles */
footer {
    background-color: #1E1E1E;
    color: white;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-logo{
    color: gold;
    margin-bottom: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: bold;
}

.footer-para{
    margin-bottom: .70rem;
    max-width: 500px;
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: "Poppins", sans-serif;
}

.footer-socials{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

i{
    font-size: 1.5rem;
    cursor: pointer;
}

i:hover{
    color: gold;
}

.footer-col h4{
    color: gold;
    font-size: 1.5rem;
}

.footer-contact{
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
}

.contact .emails .address{
    color: white;
}

span a i{
    color: white;
    gap: 5px;
    cursor: pointer;
}

a{
    color: white;
    cursor: pointer;
    margin-left: 6px;
}

a:hover{
    color: gold;
}

form{
    display: grid;
    margin-top: 1rem;
}

span:hover{
    color: gold;
}

.footer-sub h4{
    color: gold;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.footer-sub form{
    display: grid;
    gap: 1rem;
}

.footer-sub input{
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px
}

.footer-sub input::placeholder{
    color: black;
}

.footer-btn{
    width: 100%;
    padding: .75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: black;
    background-color: gold;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.footer-bar{
    font-size: 0.9rem;
    color: gold;
    text-align: center;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.contact{
    margin: 5rem 0;
    justify-content: center;
}

.contact h2{
    text-align: center;
    margin-bottom: 2rem;
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-3{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: .75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: black;
    background-color: gold;
    border-radius: 5rem;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.btn-3:hover{
    background-color: black;
    color: white;
}